@import "_global";
@import "_vars";

.header_top {
    background-color: $whiteblue;
    min-height: 100px;
    padding: 20px 0;
}
.header_top_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_logo {
    color: #303031;
    font-weight: 700;
    font-size: 30px;
    display: flex;
    align-items: center;
    margin-right: auto;
    &_img {
        margin: 0 5px;
    }
    img {
        display: inline-block;
    }
    span {
        color: $blue;
    }
}
.header_top_inner_btn {
    button {
        background-color: $blue;
        color: #fff;
        font-size: 14px;
        border-radius: 20px;
        padding: 12px 15px;
        border: none;
    }
}
.header_top_inner_icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 48px;
    margin-right: 25px;
    li {
        display: inline-block;
    }
    img {
        height: 18px;
        width: 18px;
        margin-left: 30px;
    }
}
.header_top_inner_person {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header_top_person {
    &_img {
        margin-right: 30px;
        img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    &_name {
        font-weight: 500;
        line-height: 20px;
        color: #333;
    }
    &_summ {
        color: $blue;
        line-height: 22px;
        font-size: 15px;
    }
}
    
.header_menu {
    background-color: #fff;
    min-height: 80px;
    padding: 18px 0;
    &_inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &_inner_content {
        li {
            display: inline-block;
            & + li {
                margin-left: 30px;
            }
        }
        a {
            font-style: 15px;
            color: #333;
            text-transform: uppercase;
            font-weight: 500;
            cursor: pointer;
        }
    }
}
.header_form {
    max-width: 360px;
    form {
        width: 100%;
        padding-right: 70px;        
        border: 1px solid #d9dfe5;
        border-radius: 30px;
        position: relative;
    }
    input {
        padding: 15px 10px 18px 24px; 
        border: none;
        outline: none;
        &::placeholder {
            color: #898f96;
            font-size: 15px;
        }
    }
    button {
        position: absolute;
        border: none;
        background-color: $blue;
        padding: 16px 27px;
        border-radius: 30px;
        right: 0px;
        top: 0px;
        cursor: pointer;
    }
}

.main_info {
    padding: 180px 0 235px;
    background-color: $darkblue;
    text-align: center;
    color: #fff;
    &_title_top {
        font-weight: 500;
        font-size: 60px;
        margin-bottom: 20px;
    }
    &_title {
        font-weight: 700;
        font-size: 60px;
        line-height: 70px;
        margin-bottom: 35px;
    }
    &_subtitle {
        font-weight: 500;
        font-size: 20px;
        margin-bottom: 65px;
    }
    &_btn {
        button {
            padding: 20px 30px;
            border-radius: 30px;
            font-style: 16px;
            border: none;
            cursor: pointer;
        }
    }
}
.left_btn {
    margin-right: 30px;
    background-color: #fff;
    color: $darkblue;
}
.main_info_btn .right_btn {
    background-color: $darkblue;
    color: #fff;
    border: 1px solid #fff;
}
.products {
    padding: 150px 0;
    position: relative;
    &_form {
        background-color: #fff;
        position: absolute;
        top: -213px;
        width: 1140px;
        box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
        border-radius: 6px;
        height: 135px;
        padding: 40px;
        position: relative;
        z-index: 25;
        &_top {
            position: absolute;
            border-radius: 6px;
            background-color: #fff;
            opacity: 0.502;
            width: 1080px;
            height: 135px;
            z-index: 4;
            top: -97px;
            left: 290px;
        }
        &_middle {
            position: absolute;
            border-radius: 6px;
            background-color: #fff;
            opacity: 0.502;
            position: absolute;
            width: 1110px;
            height: 135px;
            z-index: 2;
            top: -80px;
            left: 276px;
        }
    }
    input {
        width: 805px;
        border: 1px solid #dcdcdc;
        border-radius: 3px;
        padding: 18px 235px 18px 28px;
        &::placeholder{
            color: #676767;
        }
    }
    form::after {
        content:"";
        position: absolute;
        background-image: url(../images/icons/chevron-down.png);
        right: 311px;
        top: 63px;  
        width: 13px;
        height: 8px;
        z-index: 5;
    }
    .categories {
        position: absolute;
        right: 297px;
        top: 42px;
        width: 195px;
        padding: 18px 50px 18px 18px;
        color: #555;
        border: none;
        background-color: #fff;
        border-left: 1px solid #dcdcdc;
        border-radius: 3px;
        outline: none;
    }
    .search {
        margin-left: 25px;
        background-color: $blue;
        color: #fff;
        padding: 20px 65px;
        border-radius: 3px; 
        border: none;   
    }
}
.products_inner {
    display: flex;
    justify-content: space-between;
    &_item {
        max-width: 300px;
        width: 100%;
        text-align: center;
        &_img {
            margin-bottom: 30px;
            height: 120px;
            width: 120px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            display: inline-block;
        }
        &_title {
            margin-bottom: 30px;
            font-size: 24px;
            color: #000;
            font-weight: 500;
        }
        &_text {
            color: #555;
        }
    }
}


//   .Rectangle_238_copy_2 {
//     border-radius: 6px;
//     background-color: rgb(255, 255, 255);
//     opacity: 0.502;
//     width: 1080px;
//     height: 135px;
//     z-index: 733;
//   }
//   .Rectangle_238_copy {
//    
//     z-index: 732;
//   }
//   .Rectangle_238 {
//     border-radius: 6px;
//     background-color: rgb(255, 255, 255);
//     box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.08);
//     position: absolute;
//     left: 390px;
//     top: 836px;
//     width: 1140px;
//     height: 135px;
//     z-index: 731;
//   }
  